<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"><title></title></head>
<body>
<div class="app">
  <div th:replace="fragments/header :: header"></div>
  <div class="container py-4 d-flex flex-column align-items-center">
    <div class="content-container px-4 d-inline-flex flex-column align-items-center">
      <p style="font-weight: bold;">
        Thank you for submitting an adoption request!
        The user who posted the offer will reply soon.
      </p>
      <a href="/" class="btn btn-primary">Back to Homepage</a>
    </div>
  </div>
</div>
</body>
</html>